img {
  border: 3px solid indigo;
  border-radius: 15px;
}
h2 {
  border: 3px solid indigo;
  border-radius: 15px;
  margin:500px;
}
h1 {
  border: 3px solid indigo;
  border-radius: 15px;
  margin: 500px;
}
