img {
  border: 3px solid indigo;
  border-radius: 15px;
}
h2 {
  border: 3px solid indigo;
  border-radius: 15px;
  padding: 8px;
  margin:50px;
}
h1 {
  border: 3px solid indigo;
  border-radius: 15px;
  padding: 8px;
  margin: 50px;
}
